body { background-color: #5f2167 ;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
}
header img {
    width: auto;
    animation: fadeIn 1.5s ease-in-out;
}
h1, h2, h3, p, a {
    font-family: Georgia, serif;
    font-size: 35px;
    color: #e52d92;
}
img {
    max-width: 100%;
    max-height: 100%; 
    
    }
title {font-family: HirukoBlackAlternate, Georgia, serif;
    color:#e52d92 ;
}

a {color: #f2059f;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #86c8bc;
    ;
    transform: scale(1.1);
    transition: transform 0.3s;
}
.logo-superior {
    display: inline-block;
    
    gap: 20px;
    margin: 30px;
}
.ubicacion-foto {
    display: inline-block;
    max-width: 35%;
    height: auto;
    margin-left: 200px;
    margin-right: 100px;
}

.ubicacion-mapa {
    display: inline-block;
    align-items: center;
    border-radius: 12px;
    transition: transform 0.3s;
}
.ubicacion-mapa:hover iframe{
    transform: scale(1.1);
    animation: bounce 1s;
}

.compra, .cumple, .menu, .ubicacion, .contactenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 30px;
}
.compra-pedidosya, .compra-rappi, {
    width: 300px;
    height: auto;
}
.compra-pedidosya, .compra-rappi {
    transition: transform 0.4s;
}
.compra-pedidosya:hover, .compra-rappi:hover {
    animation: bounce 1s;
    transform: scale(1.1);
}
.ig, .whatsapp, .facebook {
    height: 300px;
    width: 300px;
    margin-top: 200px;
}
.contactenos .ig, .whatsapp, .facebook {
    transition: transform 0.5s ease-in-out; 
}  
.contactenos .ig:hover, .whatsapp:hover, .facebook:hover {
    transform: rotate(15deg);
    animation: bounce 1s;
}
ul {
    list-style-type: none;
    text-align: center;    
}
li {
    display: inline-block;
    font-size: 10px;
    padding: 20px;   
}
.menu-alimentos, .menu-bebidas, .cumple-mini, .cumple-simples, .cumple-mesadulce {
    width: 500px;
    height: auto;
    padding: 10px;
    
}
.menu-alimentos, .menu-bebidas, .cumple-mini, .cumple-simples, .cumple-mesadulce {
    animation: slideIn 1.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}
